/* -----------------------------------------------
	www.swfupload.org
----------------------------------------------- */

:focus{
outline: 0;
}
 

code{
display: block;
background:#edffb8 none repeat scroll 0%;
border-color:#b2da3a;
border-style:solid;
border-width:1px 0;
font-size: 1em;
margin: 1em 0pt;
overflow:auto;
padding: 0.3em 0.4em;
white-space:pre;
}

div.fieldset{
border:  1px solid #afe14c;
margin: 10px 0;
padding: 20px 10px;
}

div.fieldset span.legend{
position: relative;
background-color: #FFF;
padding: 3px;
top: -30px;
font: 700 14px Arial, Helvetica, sans-serif;
color: #146295;
}

div.flash{
width: 375px;
margin: 10px 5px;
border-color: #D9E4FF;
border-radius: 5px;
}

button, input, select, textarea{ 
border-width: 1px; 
margin-bottom: 10px;
padding: 2px 3px;
border-radius: 5px;
}

input[disabled]{
border: 1px solid #ccc
}

#btnSubmit{ 
border-width: 1px; 
margin-bottom: 10px;
padding: 2px 3px;
border-radius: 5px;
}


.progressWrapper{
width: 357px;
overflow: hidden;
}

.progressContainer{
margin: 5px;
padding: 4px;
border: solid 1px #E8E8E8;
background-color: #F7F7F7;
overflow: hidden;
}


#swfuploader .message{
margin: 1em 0;
padding: 10px 20px;
border: solid 1px #FFDD99;
background-color: #FFFFCC;
overflow: hidden;
}

/* Error */
.red{
border: solid 1px #B50000;
background-color: #FFEBEB;
}

/* Current */
.green{
border: solid 1px #DDF0DD;
background-color: #EBFFEB;
}

/* Complete */
.blue{
border: solid 1px #CEE2F2;
background-color: #F0F5FF;
}

.progressName{
font-size: 8pt;
font-weight: 700;
color: #555;
width: 323px;
height: 14px;
text-align: left;
white-space: nowrap;
overflow: hidden;
}

.progressBarInProgress, .progressBarComplete, .progressBarError{
font-size: 0;
width: 0%;
height: 2px;
background-color: blue;
margin-top: 2px;
}

.progressBarComplete{
width: 100%;
background-color: green;
visibility: hidden;
}

.progressBarError{
width: 100%;
background-color: red;
visibility: hidden;
}

.progressBarStatus{
margin-top: 2px;
width: 337px;
font-size: 7pt;
font-family: Arial;
text-align: left;
white-space: nowrap;
}

a.progressCancel{
font-size: 0;
display: block;
height: 14px;
width: 14px;
background-image: url(../images/cancelbutton.gif);
background-repeat: no-repeat;
background-position: -14px 0px;
float: right;
}

a.progressCancel:hover{
	background-position: 0px 0px;
}


.swfupload {
	vertical-align: top;
	margin-top: 5px;
	border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
	 
}
